.textos1{
    font-weight: bold !important;
 }
 
 .imagem{
     background-image: url("../../assets/images/imagemladorm.png");
     background-repeat: no-repeat;
	 opacity: 1;
     width: 100vh;
     min-height: 100vh;
     background-size: cover;
     background-position: center;
 }
 
 .text-decorator-none{
     text-decoration: none;
 }
