.box1 {
    background-color: #121212;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .box2 {
    background-color: #1f1f1f;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .redes {
    color: #fff;
    margin: 0.5rem;
    font-size: 2rem;
  }
  
  .textos {
    color: #fff;
    font-size: 0.8rem;
    margin-top: 0.5rem;
    text-align: center;
  }