.App {
  background-color: #000000;
  font-family: Arial, sans-serif;
  color: #000000;
}

header {
  background-color: #000000;
  padding: 1rem;
  margin: 0%;
}

h1 {
  display: flex;
  font-size: 3rem;
  margin: 0;
  color: rgb(196, 43, 43);
  text-shadow: 2px 2px #5500007e;
  flex-direction: column;
  align-items: center;

}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.PostList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.PostItem {
  background-color: #1f1f1f;
  border-radius: 0.5rem;
  box-shadow: 2px 2px #333;
  margin: 1rem;
  padding: 1rem;
  width: 300px;
}

h2 {
  font-size: 2rem;
  margin: 0;
  color: white;
  text-shadow: 2px 2px #333;
}

p {
  margin: 1rem 0;
}

footer {
  background-color: #333;
  text-align: center;
  padding: 1rem;
}

p {
  color: rgb(255, 255, 255);
}